.carousel-image-layout {
  height: 530px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  .carousel-svg-top,
  .carousel-svg-bottom {
    position: absolute;
  }

  .carousel-svg-top {
    top: 0;
    left: 0;
    z-index: -1;
  }

  .carousel-svg-bottom {
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .carousel-image {
    width: 92%;
    height: 95%;
    border-radius: 100px 3px 100px 3px;
    z-index: 2;
  }
}

ngb-carousel {
  outline: none;
}
