<ngb-carousel #carousel="ngbCarousel" [showNavigationArrows]="false" [showNavigationIndicators]="false" interval="5000">
  <ng-template ngbSlide *ngFor="let image of images;let i = index" id="{{i}}">
    <div class="row justify-content-between">
      <div class="col-lg-5 col-md-12 order-12 order-md-12 order-sm-1">
        <div class="row pt-5">
          <div class="col">
            <p class="title-2 mb-5">{{image.title}}</p>
            <p class="description ">{{image.description}}</p>
          </div>
        </div>
        <div class="row section-2">
          <div class="col-8">
            <button type="button" routerLink="company/contact-us" class="btn btn-primary">Schedule a free meeting</button>
          </div>
        </div>
        <div class="carousel-navigation section-2">
          <img (click)="prev()" src="../../../assets/next-arrow-left.svg">
          <img (click)="next()" src="../../../assets/next-arrow-right.svg">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-sm-12 order-md-1  mb-5 mb-sm-0">
        <div class="carousel-image-layout">
          <img class="carousel-svg-top" src="../../../assets/smallCircles.svg">
          <img [src]="image.img" class="carousel-image">
          <img class="carousel-svg-bottom" src="../../../assets/smallCircles.svg">
        </div>
      </div>
    </div>
  </ng-template>

</ngb-carousel>
