<div class="row section-1 justify-content-between">
    <div class="col-4 text-center" *ngFor="let i of products">
        <img class="mb-2" src="../../../assets/productIcon.svg">
        <p class="product-count">40+</p>
        <p class="description-2">Product Launched 1</p>
    </div>
</div>