<div class="footer-bg">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12 col-xl-9 text-center text-xl-left mb-3 mb-xl-0">
        <p class="heading">Lorem, ipsum dolor sit amet consectetur adipisi</p>
        <p class="sub-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
      </div>
      <div class="col-lg-4 col-12 col-md-6 col-xl-3 text-center">
        <button type="button" routerLink="/contact-us" class="btn btn-primary">Schedule a free meeting</button>
      </div>
    </div>
  </div>
  <div class="divider container-fluid"></div>
  <div class="container">
    <div class="row justify-content-between justify-content-sm-center">
      <div class="col-3 col-lg-4 col-md-6 col-sm-12">
        <img src="../../../assets/nuteck-logo-big.svg" class="logo">
      </div>
      <div class="col-3 col-lg-2 d-none d-sm-block">
        <p class="menu">
          Company
        </p>
        <ul class="sub-menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="company/about-us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="company/contact-us">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Career</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="company/qualification-certificate">QC</a>
          </li>
        </ul>

      </div>
      <div class="col-3 col-lg-2  d-none d-sm-block">
        <p class="menu">
          Services
        </p>
        <ul class="sub-menu">
          <li class="nav-item">
            <a class="nav-link">Civil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Mechanical</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Technology</a>
          </li>
        </ul>

      </div>
      <div class="col-3 col-lg-2  d-none d-sm-block">
        <ul class="sub-menu">
          <li class="nav-item">
            <a class="nav-link">Privacy Policies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Terms of use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="divider container-fluid"></div>
  <div class="d-block d-md-none">
      <ul class="menu p-0 d-flex flex-column align-items-center">
          <li class="menu-item p-3">
            Home
          </li>
          <li class="menu-item p-3">
            Civil
          </li>
          <li class="menu-item pl-1 py-3 ">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <p class="menu-accordian d-flex justify-content-between align-items-center">Mechanical   <fa-icon [icon]="icons.dropDown"></fa-icon>   </p>
                </ng-template>
                <ng-template ngbPanelContent>
                  <ul class="drop-menu p-0">
                    <li class="drop-menu-item p-3">
                      <a routerLink="mechanical/piping-solution">Piping Solution</a>
                    </li>
                    <li class="drop-menu-item p-3">
                      <a routerLink="mechanical/fabrication">Fabrication</a>
                    </li>
                  </ul>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </li>
          <li class="menu-item p-3">
            Technologies
          </li>
          <li class="menu-item p-3">
            Case Studies
          </li>
          <li class="menu-item pl-1 py-3 ">
              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <p class="menu-accordian d-flex justify-content-between align-items-center">Company   <fa-icon [icon]="icons.dropDown"></fa-icon>   </p>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <ul class="drop-menu p-0">
                      <li class="drop-menu-item p-3">
                          <a routerLink="company/about-us">About us</a>
                        </li>
                      <li class="drop-menu-item p-3">
                          <a routerLink="company/contact-us">Contact us</a>
                        </li>
                        <li class="drop-menu-item p-3">
                            <a>Career</a>
                          </li>
                          <li class="drop-menu-item p-3">
                              <a routerLink="company/qualification-certificate">QC</a>
                            </li>
                    </ul>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </li>
        </ul>
  </div>
  <div class="container">
    <div class="row copy-right align-items-center">
      <div class="col  align-items-center">
        <p class="copy-right-text text-center">© Nuteck Groupd. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
