.footer-bg {
  background-color: rgba(70, 92, 168, 0.04);
  margin-top: 7rem;

  .row {
    padding: 30px 0 30px 0;

    .heading {
      font-size: 36px;
      font-weight: bold;
      line-height: 68px;
    }

    .sub-heading {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }
  }


}


.menu {
  color: #18191C;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;

}

.sub-menu {
  color: rgba(30, 32, 25, 0.6);
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  list-style: none;
  padding: 0;

  .nav-link {
    padding: .5rem 0rem;
    color: rgba(30, 32, 25, 0.6);
  }

  .nav-link:hover,
  .nav-link:active {
    color: #465CA8;
    cursor: pointer;
  }
}

.logo {
  width: 263px;
}

.copy-right {
  height: 50px;
  padding: 0 !important;

  .copy-right-text {
    color: rgba(24, 25, 28, 0.6);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
}


.divider {
  width: 100% !important;
  height: 1px;
  border: 1px solid rgba(70, 92, 168, 0.05);
}


  .menu {
    list-style: none;
    .menu-item {
      border-bottom: 1px solid black ;
      width: 100vw;
      .menu-accordian {
        color: black;
      }
    }
  }

::ng-deep .accordion {
  ::ng-deep .card {
    border:none !important;
      ::ng-deep .card-header {
      border: none !important;
      background-color: rgba(70, 92, 168, 0.04) !important;
      padding:0;
      button {
        width: 100% !important;
      }
  }
  ::ng-deep .card-body {
       padding-top: 0px;
       height: auto;
       background-color: rgba(70, 92, 168, 0.04) !important;
  }
}
}

.drop-menu {
  width: 100vw;
  list-style: none;
  .drop-menu-item {
    border-bottom: 1px solid black ;
    width: 100vw;
    a{
      color: black;
    }
  }
}
