.service-card {
  border-radius: 4px;
  background-color: #FFFFFF;
  position: relative;
  box-shadow: 0 10px 20px 0 rgba(204, 208, 225, 0.5), 0 1px 1px 0 rgba(204, 208, 225, 0.5);
  .view-more {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
  }
  .service-icon {
    height: 40px;
    width: 40px;
  }
}
