<div class="row">
  <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" *ngFor="let i of cards">
    <div class="service-card p-4">
      <div class="mb-3 d-flex">
        <img class="service-icon mr-3" [src]="i.img">
        <p class="title-3">{{i.title}}</p>
      </div>
      <p class="description-2">Lorem Ipsum is simply dummy text of the
        printing & typesetting industry. Lorem
        printing & typesetting industry. </p>
      <img class="view-more" src="../../../assets/viewMore.svg">
    </div>
  </div>
</div>