.header-bg {
  height: 60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: white;

  .container,
  .row {
    height: 100% !important;

    .logo {
      width: 150px;
    }

    .nav {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.nav-drop-down {
  display: none;
}

fa-icon {
  font-size: 10px;
  margin-left: 9px;
}

.col-lg-8,
.col-md-10 .nav {
  height: 100%;
}

.nav-item,
.nav-item a {
  display: flex;
  align-items: center;
  color: rgba(30, 32, 25, 0.6);
  font-weight: 600;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}

.nav-item:hover {
  position: relative;

  .nav-drop-down {
    position: absolute;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(204, 208, 225, 0.5), 0 1px 1px 0 rgba(204, 208, 225, 0.5);
    top: 50px;
    list-style: none;
    padding: 0;
    display: block;

    .drop-down-item {
      padding: 15px;
      width: 200px;
      cursor: pointer;

      a {
        color: rgba(30, 32, 25, 0.6);
        text-decoration: none;
      }
    }

    .drop-down-item a:hover {
      color: #465CA8;
    }
  }
}

.nav-item:hover,.active {
  color: #465CA8;
  font-weight: 600;
  border-bottom: 5px solid #465CA8;
  transition: all 0.2s ease-in;

  fa-icon {
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
  }
}



.nav-link {
  padding-left: 0;
  padding-right: 0;
}

.col-2 {
  padding-left: 0;
}

.col-8 {
  padding-right: 0;
}

.hamberger {
  font-size: 20px;
}
.overlay-menu {
  transition: all 0.2s ease-in;
  background-color: white;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 1001;
  margin-top: 59px;
  .menu {
    width: 100vw;
    height: 100vh;
    list-style: none;
    .menu-item {
      border-bottom: 1px solid black ;
      width: 100vw;
      .menu-accordian {
        color: black;
      }
    }
  }
}
::ng-deep .accordion {
  ::ng-deep .card {
    border:none !important;
    background-color: white !important;
      ::ng-deep .card-header {
      border: none !important;
      background-color: white !important; 
      padding:0;
      button {
        width: 100% !important;
      }
  }
  ::ng-deep .card-body {
       padding-top: 0px;
       height: auto;
       background-color: white !important; 
  }
}
}

.drop-menu {
  width: 100vw;
  list-style: none;
  .drop-menu-item {
    border-bottom: 1px solid black ;
    width: 100vw;
    a{
      color: black;
    }
  }
}
