<div class="header-bg">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-2 ml-3 ml-md-0">
        <img src="../../../assets/nuteck-logo-small.svg" routerLink="/" class="logo">
      </div>
      <div class="col-lg-8 col-md-10 align-items-center justify-content-around d-none d-md-block">
        <ul class="nav">
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/civil" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Civil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Mechanical
              <ul class="nav-drop-down">
                <li class="drop-down-item">
                  <a routerLink="mechanical/piping-solution">Piping Solution</a>
                </li>
                <li class="drop-down-item">
                  <a routerLink="mechanical/fabrication">Fabrication</a>
                </li>
              </ul>
            </a>
            <fa-icon [icon]="icons.dropDown"></fa-icon>
          </li>
          <li class="nav-item">
            <a class="nav-link">Technologies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/case-studies">Case Studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Company <ul class="nav-drop-down">
                <li class="drop-down-item">
                  <a routerLink="company/about-us">About us</a>
                </li>
                <li class="drop-down-item">
                  <a routerLink="company/contact-us">Contact us</a>
                </li>
                <li class="drop-down-item">
                  <a>Career</a>
                </li>
                <li class="drop-down-item">
                  <a routerLink="company/qualification-certificate">QC</a>
                </li>
              </ul></a>
            <fa-icon [icon]="icons.dropDown"></fa-icon>
          </li>
        </ul>
      </div>
      <div class="col-2 d-none d-lg-block">
        <button type="button" routerLink="company/contact-us" class="btn btn-primary">Contact us</button>
      </div>
      <div class="col-2 mr-md-0 mr-3 d-block d-md-none" (click)="openMenu()">
        <fa-icon *ngIf="!toggle" class="hamberger" [icon]="icons.hamberger"></fa-icon>
        <fa-icon *ngIf="toggle" class="hamberger" [icon]="icons.close"></fa-icon>
      </div>
    </div>
  </div>
</div>
<div class="overlay-menu" *ngIf="toggle">
  <ul class="menu p-0 d-flex flex-column align-items-center">
    <li class="menu-item p-3">
        <a routerLink="/">Home</a>
    </li>
    <li class="menu-item p-3">
        <a routerLink="/civil">Civil</a>
    </li>
    <li class="menu-item pl-1 py-3 ">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <p class="menu-accordian d-flex justify-content-between align-items-center">Mechanical   <fa-icon [icon]="icons.dropDown"></fa-icon>   </p>
          </ng-template>
          <ng-template ngbPanelContent>
            <ul class="drop-menu p-0">
              <li class="drop-menu-item p-3">
                <a routerLink="mechanical/piping-solution">Piping Solution</a>
              </li>
              <li class="drop-menu-item p-3">
                <a routerLink="mechanical/fabrication">Fabrication</a>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </li>
    <li class="menu-item p-3">
      Technologies
    </li>
    <li class="menu-item p-3">
        <a routerLink="/case-studies">Case Studies</a>
      </li>
    <li class="menu-item pl-1 py-3 ">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <p class="menu-accordian d-flex justify-content-between align-items-center">Company   <fa-icon [icon]="icons.dropDown"></fa-icon>   </p>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul class="drop-menu p-0">
                <li class="drop-menu-item p-3">
                    <a routerLink="company/about-us">About us</a>
                  </li>
                <li class="drop-menu-item p-3">
                    <a routerLink="company/about-us">About us</a>
                  </li>
                  <li class="drop-menu-item p-3">
                      <a>Career</a>
                    </li>
                    <li class="drop-menu-item p-3">
                        <a routerLink="company/qualification-certificate">QC</a>
                      </li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </li>
  </ul>
</div>