<div class="search-bg">
    <app-search></app-search>
</div>
<div class="container">
    <div class="row section-2">
        <div class="col-3 d-none d-xl-block">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Product Search" id="name">
                <label class="lable" for="name">Search by</label>
            </div>
            <app-filter-accordian></app-filter-accordian>

        </div>
        <div class="col-xl-9 col-lg-12">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-12 mb-4 d-md-flex justify-content-md-center" *ngFor="let i of cards">
                    <app-product-item-card></app-product-item-card>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>