.search-bg {
    background-color: rgba(70,92,168,0.04);
    height: 400px;
}

@media (min-width: 576px) {
    .search-bg {
        height: 400px;
    }
  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .search-bg {
        height: 250px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .search-bg {
        height: 150px;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .search-bg {
        height: 150px;
    }
 }