<div class="container">
    <div class="row">
        <div class="col">
            <app-banner [bannerTitle]="'Case Studies'"></app-banner>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col max-width">
            <app-products></app-products>
        </div>
    </div>

    <div class="row section-1 justify-content-center">
        <div class="col max-width">
            <div class="section-2" *ngFor="let content of caseStudyContents">
                <p class="title-4 mb-2">{{content.question}}</p>
                <p class="description-2">{{content.solution}}</p>
            </div>

        </div>
    </div>
    <div class="row section-1 justify-content-center">
        <div class="col text-center max-width">
            <p class="title mb-3"> Some of our case studies</p>
            <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium numquam ipsum
                atque
                aliquam voluptates nobis!</p>
        </div>
    </div>
    <div class="row section-2">
        <div class="col">
            <app-case-study-small></app-case-study-small>
        </div>
    </div>
</div>