<ngb-accordion #acc="ngbAccordion">
    <ngb-panel [id]="i" *ngFor="let i of filters">
        <ng-template ngbPanelHeader>
            <div class="d-flex justify-content-between">
                <p class="filter" (click)="toggle(i)">Filter Option
                    <fa-icon [icon]="icons.dropDown"></fa-icon>
                </p>
                <p class="clear">Clear All</p>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
                <div class="d-flex align-items-center mb-2" *ngFor="let j of filters">
                    <input class="fiter-checkbox mr-2" type="checkbox">
                    <p class="fiter-option">Filter 1</p>
                </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>