.filter {
    color: #18191C;	
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    cursor: pointer;
    fa-icon {
         font-size: 10px;
    }
}
.clear {
    color: #465CA8;	
    font-size: 1rem;
    line-height: 19px;
    cursor: pointer;
}
.fiter-option {
    color: #1E2019;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}
input[type=checkbox]{
    box-shadow: none !important;
    height: 21.09px;
    width: 21px;	
    border: 1px solid #F8C555 !important;	
    border-radius: 3px !important;	
    background: #F8C555 !important;
    color:#F8C555 !important;
}
::ng-deep .accordion {
    border: 1px solid rgba(70,92,168,0.1);
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(204,208,225,0.5), 0 1px 1px 0 rgba(204,208,225,0.5);
    ::ng-deep .card {
        ::ng-deep .card-header {
        border-bottom: none !important;
        background-color: transparent !important;
         
    }
    ::ng-deep .card-body {
         padding-top: 0px;
    }
  }
}
