<div class="container">
    <div class="row section-1">
        <div class="col">
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="row section-1">
        <div class="col">
            <app-tabs></app-tabs>
        </div>
    </div>
    <div class="row section-1">
        <div class="col text-center">
            <p class="title mb-3"> Some of our case studies</p>
            <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium numquam ipsum
                atque
                aliquam voluptates nobis!</p>
        </div>
    </div>
    <div class="row section-2">
        <div class="col">
            <app-case-study-small></app-case-study-small>
        </div>
    </div>
</div>