<div class="container">
  <div class="row section-1">
    <div class="col text-center">
      <p class="title">Qualification Certificate</p>
    </div>
  </div>
  <div class="row section-3">
    <div class="col-md-4 col-sm-12 mb-3 mb-sm-0 text-center">
      <div class="team">
        <img src="../../../assets/cn2.png" class="certificate-logo">
        <p class="team-member-name">Certificate Name</p>
        <p class="team-member-role">Lorem ipsum, dolor sit amet</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3 mb-sm-0 text-center">
      <div class="team">
        <img src="../../../assets/cn3.png" class="certificate-logo">
        <p class="team-member-name">Certificate Name</p>
        <p class="team-member-role">Lorem ipsum, dolor sit amet</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 text-center">
      <div class="team">
        <img src="../../../assets/cn2.png" class="certificate-logo">
        <p class="team-member-name">Certificate Name</p>
        <p class="team-member-role">Lorem ipsum, dolor sit amet</p>
      </div>
    </div>
  </div>
  <div class="row section-2">
    <div class="col text-center">
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur vitae repellat
        praesentium unde tempore dolorum saepe qui, corporis non, nostrum consequatur, eos culpa adipisci obcaecati
        veniam eaque placeat! Ut, necessitatibus!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        suscipit eius esse error, laborum non illo accusantium doloremque porro. Facere, hic rerum sequi blanditiis nisi
        laboriosam voluptatem deserunt saepe ullam.</p>
    </div>
  </div>
</div>
