<div class="search-bg section-2">
    <app-search></app-search>
</div>
<div class="container">
    <div class="row section-2">
        <div class="col-3">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Product Search" id="name">
                <label class="lable" for="name">Search by</label>
            </div>
            <app-filter-accordian></app-filter-accordian>

        </div>
        <div class="col-9">
            <div class="row justify-content-between">
                <div class="col-6 mb-4" *ngFor="let i of cards">
                    <app-product-item-card></app-product-item-card>
                </div>
            </div>
        </div>
    </div>
</div>