<div class="row section-1 align-items-center">
    <div class="col text-center">
      <div class="banner">
        <img class="banner-image" src="../../../assets/imageOne.jpg">
        <div class="overlay"></div>
        <img class="banner-svg" src="../../../assets/smallCircles.svg">
        <p class="banner-title">{{bannerTitle}}</p>
      </div>
    </div>
  </div>
