.banner {
    height: 360px;
    position: relative;
  
    .banner-title {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFFFFF;
      font-size: 2rem;
      font-weight: bold;
      line-height: 4rem;
      z-index: 1000;
    }
  
    .overlay {
      height: 315px;
      width: 97%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100px 3px 100px 3px;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    .banner-image {
      height: 315px;
      width: 97%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100px 3px 100px 3px;
      z-index: 1;
    }
  
    .banner-svg {
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  }
  
  