<div class="container">
    <div class="row section-1">
        <div class="col">
            <p class="title">3-Way ball valve type 543 PVC-C – Horizontal/L-port – With solvent cement sockets metric
            </p>
        </div>
    </div>
    <div class="row section-3">
        <div class="col-md-6 col-sm-12 ">
            <div class="product">
                <img class="product-image" [src]="selectedImage.src">
                <img class="carousel-svg-top" src="../../../assets/smallCircles.svg">
                <img class="carousel-svg-bottom" src="../../../assets/smallCircles.svg">
            </div>
            <div class="row section-3">
                <div class="col-4 col-lg-3 mt-4 mt-lg-0 text-center" (click)="selectProduct(image)" *ngFor="let image of productImages">
                    <div class="other-images">
                        <img class="other-images" [src]="image.src">
                        <div class="overlay" *ngIf="selectedImage.id !== image.id"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-4 mt-md-0">
            <div class="row">
                <div class="col">
                    <p class="title-3">Description of the product</p>
                    <p class="title-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took.</p>
                </div>
            </div>
            <div class="row section-3">
                <div class="col">
                    <p class="title-3">Models</p>
                    <ul class="section-4 list">
                        <li class="title-1" *ngFor="let image of productImages">  <img src="../../../assets/pointer.svg"> Lockable lever as standard (DN10-DN50)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row section-3">
                <div class="col">
                    <p class="title-3">Options</p>
                    <ul class="section-4 list">
                        <li class="title-1" *ngFor="let image of productImages"> <img src="../../../assets/pointer.svg"> Lockable lever as standard (DN10-DN50)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row section-2">
        <div class="col text-center">
            <p class="title">About us</p>
            <p class="title-1">Lorem Ipsum is simply dummy text of the printing & typesetting industry. Lorem printing &
                typesetting industry. </p>
        </div>
    </div>
    <div class="row section-2">
        <div class="col">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">d(mm)</th>
                        <th scope="col">size(inch)</th>
                        <th scope="col">DN(mm)</th>
                        <th scope="col">PN(bar)</th>
                        <th scope="col">kv-value (Δp=1 bar) (l⁄min)</th>
                        <th scope="col">Measurements</th>
                        <th scope="col">CAD</th>
                        <th scope="col">EPDM Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let image of productImages">
                        <td>
                            16
                        </td>
                        <td>
                            3/8
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            16
                        </td>
                        <td>
                            71
                        </td>
                        <td class="blue">
                          <img src="../../../assets/measurement.svg">  Visit
                        </td>
                        <td class="blue">
                            Visit
                        </td>
                        <td>
                            161546061
                        </td>
                    </tr>
                </tbody>
            </table>
</div>
        </div>
    </div>
</div>