.product{
    height: 530px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
    .carousel-svg-top,
    .carousel-svg-bottom {
      position: absolute;
    }
  
    .carousel-svg-top {
      top: 0;
      left: 0;
      z-index: -1;
    }
  
    .carousel-svg-bottom {
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  
    .product-image {
      width: 92%;
      height: 92%;
      border-radius: 100px 3px 100px 3px;
      z-index: 2;
    }
  
  }
  .other-images{
    height: 100px;
    width: 100px;
    border-radius: 25px 3px 25px 3px;
    position: relative;
}

.overlay {
    position: absolute;
    height: 100px;
    top:0;
    left:0;
    width: 100px;
    border-radius: 25px 3px 25px 3px; 
    background: white;
    opacity: 0.6;
}

table {
    border: 1px solid rgba(70,92,168,0.1);
    thead {
        tr {
            th{
                background-color: rgba(70,92,168,0.04);
                border:none;
                color: #18191C;
                font-size: 1rem;
                font-weight: bold;
                line-height: 19px;
            }
        }
    }
    tbody {
        tr{
            background-color: white;
            border-bottom:  1px solid rgba(70,92,168,0.1);
            td{
                color: rgba(24,25,28,0.8);	
                font-size:1rem;
                font-weight: 500;
                line-height: 19px;
                img {
                    margin-right: 7px;
                }
            }
            .blue {
                color: #465CA8;
            }
        }
    }
}

.list {
    list-style: none;
    padding: 0;
    li {
        img {
            margin-right: 7px;
        }
    }
}