<div class="container">
  <div class="row section-1">
    <div class="col">
      <app-carousel></app-carousel>
    </div>
  </div>
  <div class="row section-1 justify-content-center">
    <div class="col text-center max-width">
      <p class="title mb-3"> Some of our case studies</p>
      <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium numquam ipsum atque
        aliquam voluptates nobis!</p>
    </div>
  </div>
  <div class="row section-2">
    <div class="col">
      <app-case-study-small></app-case-study-small>
    </div>
  </div>
  <div class="row section-1">
    <div class="col text-center">
      <p class="title mb-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
      <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium numquam ipsum atque
        aliquam voluptates nobis!</p>
    </div>
  </div>
  <div class="row section-2">
    <div class="col">
      <app-service-cards></app-service-cards>
    </div>
  </div>
  <div class="row section-1">
    <div class="col text-center">
      <p class="description"> Trusted by over 150,000 businesses around the world</p>
    </div>
  </div>
  <div class="row section-2">
    <div class="col">
      <app-client-logos></app-client-logos>
    </div>
  </div>
  <div class="row section-1">
    <div class="col text-center">
      <app-carousel-small></app-carousel-small>
    </div>
  </div>
</div>
