

.partners {
  width: 129px;
}

.note {
  color: rgba(30, 32, 25, 0.7);
  font-size: 16px;
  line-height: 19px;
}



.contact {
  height: 57.75rem;
  position: relative;

  .contact-form {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(204, 208, 225, 0.5), 0 1px 1px 0 rgba(204, 208, 225, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.875rem;
    height: 95%;
    width: 95%;
    z-index: 1;

    button {
      width: 100%;
    }

  }

  .banner-svg {
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }
}

.testimonial {
  position: relative;
  height: 260px;

  .quote {
    top: 0;
    left: 0;
    position: absolute;
  }

  .description {
    margin-top: 2.8rem;
  }
}

.location {
  position: relative;
  height: 346px;

  .location-pattern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

  }

  .white {
    color: #FFFFFF;
  }
}
