<div class="container">
  <app-banner [bannerTitle]="'Contacts'"></app-banner>
  <div class="row section-2 justify-content-center">
    <div class="col-md-6 col-sm-12 mb-5 mb-sm-0">
      <div class="row">
        <div class="col">
          <p class="title">Services Enquiries </p>
          <p class="description">We're here for you, and we're wearing our thinking caps. But first swing by our
            fantastic Help Center for all your xxxx product and technical needs! We're here
            for you, and we're wearing our thinking caps. But We're here for you, and
            we're wearing our thinking caps. But </p>
        </div>
      </div>
      <div class="row section-2">
        <div class="col pt-3 testimonial mb-5 mb-md-0">
          <img class="quote" src="../../../assets/quote.svg">

          <p class="description">We're here for you, and we're wearing our thinking caps. But first swing by our
            fantastic Help Center for all your xxxx product and technical needs! We're here
            for you, and we're wearing our thinking caps. But We're here for you, and
            we're wearing our thinking caps. But </p>
        </div>
      </div>
      <div class="row section-3">
        <div class="col">
          <div class="rating">
            <img *ngFor="let i of stars" src="../../../assets/star-1.svg">
            <img *ngFor="let i of unStars" src="../../../assets/star-2.svg">
          </div>
          <div class="profile">
            <img src="../../../assets/user.png" class="profile-image">
            <div>
              <p class="profile-name">Flynn S SMith</p>
              <p class="profile-role">CEO, Company Name </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row section-3">
        <div class="col">
          <p class="note">Trusted by over 150,000 businesses around the world</p>
        </div>
      </div>
      <div class="row section-3">
        <div class="col-lg-4 mb-3 col-md-6 col-6" *ngFor="let i of stars">
          <img class="partners" src="../../../assets/avast.png">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="contact">
        <form class="contact-form">
          <p class="title text-center">Get in touch</p>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="e.g.John Smith" id="name">
            <label class="lable" for="name">Name</label>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="e.g.johnsmith@example.com" id="email">
            <label class="lable" for="email">Email Address</label>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="e.g.Camp Bell Private Limited" id="company">
            <label class="lable" for="company">Company Name</label>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="e.g.987 452 4562" id="usr">
            <label class="lable" for="usr">Phone Number</label>

          </div>
          <div class="form-group">
            <textarea type="text" rows="4" class="form-control" placeholder="e.g.description should be here"
              id="message">
                </textarea>
            <label class="lable" for="message">Message</label>

          </div>
          <button type="button" class="btn btn-primary">Send Free Enquiry</button>

        </form>
        <img class="banner-svg" src="../../../assets/smallCircles.svg">
      </div>
    </div>
  </div>
  <!-- <div class="row section-2 location">
    <div class="col">
      <img src="../../../assets/blue-pattern.svg" class="location-pattern">
      <div class="row justify-content-around">
        <div class="col-4 align-self-center section-2">
          <p class="title white">Office Location</p>
          <p class="description white">Our Support team will be available for 24*7</p>
        </div>
        <div class="col-4  section-2">
          <p class="title white">Office Location</p>
          <p class="description white">Our Support team will be available for 24*7</p>
        </div>
      </div>
    </div>
  </div> -->



</div>
