.case-study-card {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(204, 208, 225, 0.5), 0 1px 1px 0 rgba(204, 208, 225, 0.5);
  position: relative;
  .view-more {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
  }
  .case-study-image {
    width: 100%;
    height: 140px;
    vertical-align: middle;
    border-style: none;
  }
}

.case-study-parent {
  position: relative;

  .case-study-svg-bottom {
    position: absolute;
    bottom: -50px;
    left: -40px;
  }

  .case-study-svg-top {
    position: absolute;
    top: -50px;
    right: -40px;
  }
}
