<div class="row case-study-parent">
  <img class="case-study-svg-bottom d-md-block d-none" src="../../../assets/smallCircles.svg">
  <img class="case-study-svg-top d-md-block d-none" src="../../../assets/smallCircles.svg">

  <div class="col-md-6 col-sm-12 mt-4 mt-md-0" *ngFor="let i of cards">
    <div class="case-study-card">
      <img [src]="image" class="case-study-image">
      <div class=" p-4">
        <p class="title-3">Case Study Name</p>
        <p class="description-2">Lorem Ipsum is simply dummy text of the printing & typesetting
          industry. Lorem printing & typesetting industry. </p>
      </div>
      <img class="view-more" src="../../../assets/viewMore.svg">
    </div>
  </div>
</div>