<div class="product-card" >
    <div class="product-image">
        <img src="../../../assets/imageOne.jpg">
    </div>
    <p class="product-content">
        3-Way ball valve type 543 PVC-C –
        Horizontal/L-port – With solvent
        cement sockets metric
    </p>
    <img class="view-more" (click)="viewProduct('test')" src="../../../assets/viewMore.svg">
</div>