.product-card {
    border: 1px solid rgba(70,92,168,0.1);
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(204,208,225,0.5), 0 1px 1px 0 rgba(204,208,225,0.5);
    padding: 15px;
   max-width: 394px;
   width: 350px;
   position: relative;
    .product-image {
        border: 1px dashed rgba(70,92,168,0.1);	
        max-height: 197.92px;
        height: 197.92px;
        max-width: 350px;
        max-width: 350px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 50%;
            width: 50%;
        }
    }
    .product-content {
        font-size: 20px;
        font-weight: bold;	
        line-height: 35px;
        padding: 20px;
    }
    .view-more {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
      }
}
