<ngb-tabset [justify]="'fill'">
    <ngb-tab *ngFor="let content of contents">
        <ng-template ngbTabTitle>{{content.tab}}</ng-template>
        <ng-template ngbTabContent>
            <div class="row section-1 justify-content-between">
                <div class="col-5">
                    <p class="title-2 mb-5">{{content.title}}</p>
                    <p class="description ">{{content.description}} </p>
                </div>
                <div class="col-5">
                    <p class="description-2 mb-3">Trusted by over 150,000 businesses around the world</p>
                    <div class="row">
                        <div class="col-4 mb-3" *ngFor="let i of clients">
                            <img class="clients" src="../../../assets/avast.png">
                        </div>
                    </div>

                </div>
            </div>
        </ng-template>
    </ngb-tab>
    
</ngb-tabset>