
::ng-deep .nav-tabs{
        border-radius: 3px !important;
        background-color: #FFFFFF !important;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12)!important;
        border-bottom: none;

        ::ng-deep .nav-link {
            border-bottom: 5px solid transparent;
            color: rgba(30,32,25,0.6);
            font-size: 26px;	
            font-weight: 600;	
            line-height: 32px;
            padding: 2.125rem 0;
            margin: 0 3.813rem;
            border-top:0px;
            border-left: 0px;
            border-right: 0px;
        }
        ::ng-deep .nav-link.active , .nav-link:focus, .nav-link:hover {
          border-radius: 0;
          border-bottom: 5px solid #465CA8;
          border-top:0px;
          border-left: 0px;
          border-right: 0px;
          color: #465CA8;
        }
    }
    .clients {
        width: 130px;
    }