<div class="container">
  <div class="row section-1">
    <div class="col text-center">
      <p class="title">About us</p>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat modi corporis qui.
        Quibusdam
        accusamus sapiente possimus vero dolorem? Aut rerum, alias odio suscipit temporibus fugit quaerat itaque ullam
        laudantium est.</p>
    </div>
  </div>
  <div class="row section-2">
    <div class="col text-center">
      <p class="title">Meet Our Team</p>
    </div>
  </div>
  <div class="row section-3">
    <div class="col-md-4 col-sm-12 mb-3 mb-sm-0 text-center">
      <div class="team">
        <img src="../../../assets/Avishek.svg" class="team-member-image">
        <p class="team-member-name blue">Avishek Ghosh</p>
        <p class="team-member-role">Designation</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3 mb-sm-0 text-center">
      <div class="team">
        <img src="../../../assets/Charles.svg" class="team-member-image">
        <p class="team-member-name blue">Avishek Ghosh</p>
        <p class="team-member-role">Designation</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 text-center">
      <div class="team">
        <img src="../../../assets/Kristina.svg" class="team-member-image">
        <p class="team-member-name blue">Avishek Ghosh</p>
        <p class="team-member-role">Designation</p>
      </div>
    </div>
  </div>
</div>
