<div class="container">
    <div class="row align-items-center section-2 pt-4">
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="e.g.John Smith" id="name">
                <label class="lable" for="name">Product</label>
            </div>
        </div>
        <div class=" col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="e.g.John Smith" id="name">
                <label class="lable" for="name">Category</label>
            </div>
        </div>
        <div class=" col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="e.g.John Smith" id="name">
                <label class="lable" for="name">Sub-Category</label>
            </div>
        </div>
        <div class=" col-lg-3 col-md-6 col-12 search-btn d-flex justify-content-center">
            <button type="button" class="btn btn-primary big">Search</button>
        </div>
    </div>
</div>