.carousel-parent {
  position: relative;

  .carousel-card {
    border-radius: 100px 0 100px 0;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(204, 208, 225, 0.5), 0 1px 1px 0 rgba(204, 208, 225, 0.5);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .rating {
      justify-content: center;

    }
  }

  .carousel-svg-bottom {
    position: absolute;
    bottom: -35px;
    left: -30px;
    z-index: -1;
  }

  .carousel-svg-top {
    position: absolute;
    top: -35px;
    right: -30px;
    z-index: -1;
  }
}

ngb-carousel {
  outline: none;
  height: auto;
}
