<ngb-carousel #carousel="ngbCarousel" [showNavigationArrows]="false" [showNavigationIndicators]="false" interval="5000">
  <ng-template ngbSlide *ngFor="let image of images;let i = index" id="{{i}}">
    <div class="row align-items-center my-5 justify-content-center">
      <div class="col-xl-3 col-6 order-12 mt-4 mt-xl-0">
        <img (click)="prev()" src="../../../assets/next-arrow-left.svg">
      </div>
      <div class="col-xl-10 col-11 order-1 ">
        <div class="carousel-parent">
          <img class="carousel-svg-bottom" src="../../../assets/small-circles-blue.svg">
          <img class="carousel-svg-top" src="../../../assets/small-circles-blue.svg">
          <div class="carousel-card p-5">
            <p class="description-2">{{image.description}}</p>
            <div class="row section-3 justify-content-center">
              <div class="col-12">
                <div class="rating">
                  <img *ngFor="let i of stars" src="../../../assets/star-1.svg">
                  <img *ngFor="let i of unStars" src="../../../assets/star-2.svg">
                </div>
                <div class="profile">
                  <img src="../../../assets/user.png" class="profile-image">
                  <div>
                    <p class="profile-name">Flynn S SMith</p>
                    <p class="profile-role">CEO, Company Name </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xl-3 col-6 order-12 mt-4 mt-xl-0">
        <img (click)="prev()" src="../../../assets/next-arrow-right.svg">
      </div>
    </div>
  </ng-template>

</ngb-carousel>
