/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  border-radius: 3px;
  background-color: #465CA8;
  border: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  outline: none;
  padding: 10px;
  box-shadow: none;
}

.title {
  color: #18191C;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 68px;
}
.product-count {
  font-size: 2.25rem;	
  font-weight: bold;
  line-height: 34px;
}
.title-2 {
  color: #18191C;
  font-size: 3rem;
  font-weight: bold;
  line-height: 44px;
}
.title-3 {
  color: #18191C;
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 44px;
}
.title-4 {
  color: #18191C;
  font-size: 2rem;
  font-weight: bold;	
  line-height: 39px;
}

.description {
  color: rgba(24, 25, 28, 0.8);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 40px;
}
.description-2 {
  color: rgba(24, 25, 28, 0.8);
  font-size: 1rem;
  font-weight: 500;
  line-height: 40px;
}
.section-1 {
  margin-top: 5.625rem;
}

.section-2 {
  margin-top: 3.75rem;
}

.section-3 {
  margin-top: 1.875rem;
}
.section-4 {
  margin-top:1rem;
}
.team {

  .team-member-image {
    border-radius: 50%;
    width: 7.5rem;
  }

  .certificate-logo {
    width: 6.5rem;
  }

  .team-member-name {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 32px;
    margin-top: 1rem;
  }

  .team-member-role {
    color: rgba(24, 25, 28, 0.8);
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
    margin-top: 1rem;
  }
}

button {
  width: 70%;
  outline: none;
}

.blue {
  color: #465CA8;
}
.profile {
  display: flex;
  margin-top: 15px;

  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;

  }

  div {
    .profile-name {
      color: #18191C;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
    }

    .profile-role {
      color: rgba(30, 32, 25, 0.8);
      font-size: 1rem;
      font-weight: 500;
      line-height: 19px;
    }
  }
}
.rating {
  display: flex;

  img {
    margin-right: 10px;
  }
}

.max-width {
  max-width: 52.563rem;
}
.form-group {
  display: flex;
  flex-direction: column-reverse;

  .lable {
    color: rgba(24, 25, 28, 0.4);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }

  input {
    border: 1px solid #BABABB;
    border-radius: 3px;
    background-color: #FFFFFF;
    height: 50px;
  }

  input:focus,
  textarea:focus {
    border: 1px solid #465CA8;
    box-shadow: none;

    +.lable {
      color: #465CA8;
    }

  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
