<div class="row justify-content-lg-between justify-content-md-start">
  <div class="col-lg-2 col-md-4 col-sm-12 d-flex justify-content-center mt-4 mt-lg-0" *ngFor="let i of clients">
    <img class="clients" src="../../../assets/avast.png">
  </div>
</div>
